<div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> Add task</h1>
            <form action="/dashboard/tasks/addtask" method="POST">
              <div class="form-group">
                <label for="name">Name of task</label>
                <input
                  type="name"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="Name the task"
                />
              </div>
              <div class="form-group">
                <label for="email">Description</label>
                <input
                  type="description"
                  id="description"
                  name="description"
                  class="form-control"
                  placeholder="Enter task description"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Add task
              </button>
            </form>
          </div>
        </div>
      </div>