<h1 class="mt-4">Taskboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<p class="lead mb-2">Add tasks to do</p>
<a href="/dashboard/tasks" class="btn btn-secondary">Task info</a><br><br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>