<h1 class="mt-4">Tasks</h1>
<p class="lead mb-2">Current tasks</p>
<ul class="list-group" id="myData">
    
</ul>

<a href="/dashboard/tasks/addtask" class="btn btn-secondary">Add task</a><br><br>
<a href="/dashboard" class="btn btn-secondary">Return do dashboard</a>

<script>
        fetch('/get-data')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                appendData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function appendData(data) {
            var mainContainer = document.getElementById("myData");
            for (var i = 0; i < data.length; i++) {
                var div = document.createElement("div");
                div.innerHTML ='Task: ' + data[i].name + ' Description: ' + data[i].description;
                mainContainer.appendChild(div);
            }
        }
    </script>